#header {
  background: var(--white);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: var(--margin-02);
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid var(--gray-02);
}

#header .wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header .mini-logo {
  width: 35px;
  height: auto;
  display: block;
  margin: 0;
}

#header nav {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  transform: translate(-50%, 0);
}

#header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

#header nav ul li:not(:last-child) {
  margin-right: var(--margin-04);
}

#header nav .route {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gray-06);
  font-size: 1.2em;
  display: inline-block;
  font-weight: 800;
  transition: all 0.2s ease;
}

#header a.route[data-active="true"],
#header a.route:hover {
  color: var(--highlight-pink);
  text-shadow: none;
}

#header nav .blog:hover svg {
  color: var(--highlight-pink);
}

#header nav .faq:hover svg {
  color: var(--black);
}

#header nav .about:hover svg {
  color: var(--highlight-blue);
}

#header .ellugar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#header .ellugar img {
  height: 18px;
  width: auto;
}

#header .social li:not(:last-child) {
  margin-right: var(--margin-02);
}

@media (--medium-screen) {
  #header nav a {
    font-size: 0.85em;
  }

  #header .mini-logo {
    width: 30px;
  }

  #header .ellugar img {
    width: 10px;
  }

  #header nav li:not(:last-child) {
    margin-right: var(--margin-h);
  }
}

@media (--small-screen) {
  #header nav a {
    font-size: 0.75em;
    font-weight: 600;
  }

  #header .wrapper {
    justify-content: flex-start;
    padding-right: var(--margin-02);
    padding-left: var(--margin-02);
  }

  #header nav {
    margin-left: var(--margin-02);
    flex: 1 1 auto;
    position: inherit;
    left: 0;
    transform: none;
  }

  #header nav ul {
    justify-content: space-between;
  }

  #header nav ul li:not(:last-child) {
    margin-right: var(--margin-01);
  }

  #header .mini-logo {
    width: 25px;
  }
}
