.post-attributes {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: var(--margin-01);
  width: 100%;
}

.post-attributes a {
  color: currentcolor;
  border-bottom: 1px solid var(--gray-02);
  padding-bottom: var(--margin-q);
  transition: all 0.2s ease;
}

.post-attributes a:hover {
  color: var(--highlight);
  border-color: var(--highlight);
}

.post-time-attributes {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.post-attributes.-vertical,
.post-attributes.-vertical .post-time-attributes {
  flex-flow: column;
  align-items: flex-start;
}

.post-attributes.-vertical .post-time-attributes {
  flex-flow: column-reverse;
}

.post-attributes.-vertical .post-time-attributes,
.post-attributes.-vertical .post-date {
  margin-right: 0;
  margin-bottom: var(--margin-01);
}

.post-attributes svg {
  width: 15px;
  height: 15px;
  margin-right: var(--margin-01);
}

.post-attributes .post-time-wrapper {
  margin-right: var(--margin-02);
}

@media (--small-screen) {
  .post-time-attributes,
  .post-attributes {
    flex-flow: column;
    align-items: flex-start;
  }

  .post-time-attributes {
    flex-flow: column-reverse;
  }

  .post-attributes .post-time-attributes,
  .post-attributes .post-date {
    margin-right: 0;
    margin-bottom: var(--margin-01);
  }
}
