.episode-single .wrapper {
  padding-top: var(--margin-06);
  padding-bottom: var(--margin-06);
}

.episode-image-wrapper {
  background: var(--gray-02);
  width: 100%;
  height: auto;
}

.episode-image-wrapper img {
  margin: auto;
  max-width: 500px;
}

.episode-single .audio-player {
  margin-bottom: var(--margin-04);
}
