.rich-text {
  font-size: 1em;
  margin: auto;
}

.rich-text > * + * {
  margin-top: var(--margin-04);
}

.rich-text *::selection {
  color: var(--gray-06);
  background: var(--highlight-soft);
}

.rich-text *::-moz-selection {
  color: var(--gray-06);
  background: var(--highlight-soft);
}

.rich-text p {
  hyphens: none;
  text-align: left;
  overflow-wrap: break-word;
}

.rich-text img {
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.rich-text ul {
  list-style: none;
  padding: 0;
}

.rich-text blockquote p {
  margin: 0;
  max-width: none;
}

.rich-text.-limit > * + *,
.rich-text.-limit h1,
.rich-text.-limit h2,
.rich-text.-limit h3,
.rich-text.-limit h4,
.rich-text.-limit img,
.rich-text.-limit ul,
.rich-text.-limit p {
  width: 100%;
  max-width: var(--max-width-text-column);
  margin-left: auto;
  margin-right: auto;
}

.rich-text.-big {
  font-size: 1.5em;
  line-height: 1.5em;
}

.rich-text em {
  font-style: italic;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text blockquote {
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.4em;
  line-height: 1.4em;
  font-family: var(--font-serif);
}

.rich-text.-limit blockquote,
.rich-text.-limit blockquote p {
  max-width: calc(var(--max-width-text-column) + var(--margin-08));
}

.rich-text blockquote *::selection {
  color: var(--gray-06);
  background: var(--highlight-pink);
}

.rich-text blockquote *::-moz-selection {
  color: var(--gray-06);
  background: var(--highlight-pink);
}

.rich-text blockquote ::first-letter {
  font-size: 2em;
}

.rich-text pre {
  background-color: var(--gray-02);
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin: 0;
  border-left: 2px solid var(--highlight-blue);
}

.rich-text hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-color: var(--highlight-blue);
}

.rich-text code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

.rich-text pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}

.rich-text a {
  color: var(--gray-06);
  position: relative;
  z-index: 2;
  transition: all 0.2s ease;
  text-decoration: underline;
  text-decoration-color: currentcolor;
}

.rich-text a::before {
  width: 0%;
  height: 100%;
  z-index: -1;
  background: var(--gray-02);
  content: "";
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
}

.rich-text p a {
  font-size: 1em;
}

.rich-text a:hover,
.rich-text a.active {
  color: var(--gray-06);
}

.rich-text a:hover::before,
.rich-text a.active::before {
  width: 100%;
  background: var(--highlight-soft);
}

.rich-text iframe {
  width: 100%;
  height: 560px;
  display: block;
}

.rich-text ul li {
  font-size: 1em;
  max-width: var(--max-width);
  line-height: 1.6em;
  margin: 0;
  box-sizing: border-box;
}

.rich-text ul li::before {
  content: "- ";
}

.rich-text.-dark {
  color: var(--white);
}

.rich-text.-dark a {
  color: var(--white);
  text-decoration: none;
}

.rich-text a:hover {
  text-decoration: underline;
}

.rich-text a:hover::before {
  width: 0;
  background: transparent;
}

@media (--small-screen) {
  .rich-text.-big {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

@media (--big-screen) {
  @supports (hyphens: auto) {
    .rich-text p {
      hyphens: auto;
      overflow-wrap: break-word;
      text-align: justify;
      text-justify: distribute;
      text-align-last: left;
    }

    .rich-text pre {
      hyphens: none;
      text-align: left;
    }
  }
}
