.post-row {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--gray-02);
  color: var(--gray-06);
  display: flex;
  flex-flow: column;
}

.post-row.-active {
  margin-bottom: var(--margin-02);
  border: none;
  border: 2px solid var(--gray-02);
}

.post-row .post-row-info {
  width: 100%;
  flex: 1 0 auto;
  overflow: hidden;
  padding: var(--margin-02);
}

.post-row .post-row-content {
  padding: var(--margin-02);
}

.post-row.-active .post-row-info {
  background: var(--gray-06);
  color: var(--white);
}

.post-row .post-row-info .height-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
}

.post-row .img-wrapper {
  display: block;
  border: none;
  height: 500px;
  color: transparent;
}

.post-row .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-row:not(.-active) .img-wrapper {
  height: 200px;
  filter: grayscale(100%);
  transition: filter 0.2s ease;
}

.post-row:not(.-active):hover .img-wrapper {
  filter: grayscale(10%);
}

.post-row .post-row-info h2 {
  text-decoration: none;
  color: var(--black);
  transition: all 0.2s ease;
  padding: 0;
  margin: 0;
  margin-bottom: var(--margin-02);
  font-size: 1.2em;
}

.post-row.-active .post-row-info h2 {
  font-size: 2em;
  color: var(--white);
}

.post-row .post-date {
  color: var(--black);
  font-style: italic;
}

.post-row.-active .post-date {
  color: var(--white);
}

.post-row .gradient-white {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: var(--white-gradient);
  z-index: 10;
}

.post-row .rich-text {
  margin: 0;
}

.post-row:not(.-active) .post-attributes a {
  color: var(--gray-06);
  border-color: var(--gray-06);
  position: relative;
  z-index: 2;
  transition: all 0.2s ease;
}

.post-row:not(.-active) .post-attributes a:hover {
  border-color: black;
}

.post-row:not(.-active) .post-attributes a::before {
  width: 0%;
  height: 100%;
  z-index: -1;
  background: var(--gray-02);
  content: '';
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
}

.post-row:not(.-active) .post-attributes a:hover::before {
  width: 100%;
  background: var(--highlight-soft);
}

.post-row .rich-text > * + * {
  margin-top: var(--margin-01);
}

@media (--small-screen) {
  .post-row .img-wrapper {
    height: 200px;
    display: block;
  }

  .post-row.-active .post-row-info {
    padding: var(--margin-02);
  }
}
