.audio-player {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid var(--gray-02);
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--margin-01);
  box-sizing: border-box;
}

.audio-player .button {
  text-align: center;
  padding: 0;
  font-size: 0.8em;
  border: none;
  color: var(--black);
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.audio-player .button:hover,
.audio-player .button.active {
  color: var(--highlight-blue);
  border-color: var(--highlight-blue);
  background: var(--white);
}

.audio-player input {
  margin: 0;
}

.audio-player input:last-child {
  margin: 0;
}

.audio-player input:first-child {
  margin: 0;
}

.audio-player .rc-slider {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.audio-player .rc-slider:focus {
  outline: none;
  border: none;
}

.audio-player .rc-slider .rc-slider-rail {
  width: 100%;
  height: 100%;
  background: var(--gray-02);
  border: none;
  border-radius: 0;
}

.audio-player .rc-slider:focus .rc-slider-rail {
  background: var(--gray-03);
  border-radius: 0;
}

.audio-player .rc-slider-track {
  background: var(--gray-06);
  height: 100%;
  border-radius: 0;
}

.audio-player .rc-slider .rc-slider-handle {
  width: 2px;
  border: none;
  height: 10px;
  margin: 0;
  border-radius: 0;
  appearance: none;
  background: var(--gray-06);
  transform: translateY(-50%);
  transition: width 0.2s ease;
}

.audio-player .rc-slider:hover .rc-slider-handle {
  width: 10px;
  background: var(--black);
}

.audio-player .rc-slider:-moz-focusring {
  outline: none;
  outline: 1px solid var(--white);
  outline-offset: -1px;
}

.player-controls {
  width: auto;
  color: var(--black);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--margin-h);
}

.player-controls li {
  width: 15%;
}

.audio-bar {
  width: auto;
  flex: 1 1 auto;
  display: block;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: var(--margin-01);
}

.duration-info {
  width: auto;
  display: block;
  margin-right: var(--margin-01);
}

.duration-info .divider {
  margin-right: var(--margin-h);
  margin-left: var(--margin-h);
}

.audio-bar .audio-bar-lines {
  width: auto;
  height: 10px;
  flex: 1;
  position: relative;
}

.progress-time {
  width: auto;
  font-weight: bold;
  font-size: 0.6em;
}

.progressbar {
  border: none;
  height: 100%;
  appearance: none;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.progressbar::-webkit-progress-bar {
  background-color: transparent;
}

.progressbar.total::-webkit-progress-value {
  background-color: var(--gray-02);
}

.progressbar.total::-moz-progress-value {
  background-color: var(--gray-02);
}

.progressbar.loading::-webkit-progress-value {
  background-color: var(--gray-03);
}

.progressbar.loading::-moz-progress-bar {
  background-color: var(--gray-03);
}

.progressbar.position::-webkit-progress-value {
  background: var(--highlight-pink);
}

.progressbar.position::-moz-progress-bar {
  background: var(--highlight-pink);
}

.progressbar.volume {
  background-color: var(--black);
}

.volume-bar-lines .rc-slider-track {
  background: var(--highlight-blue);
}

.volume-bar-lines {
  width: auto;
  height: 10px;
  flex: 1;
  position: relative;
  margin-left: var(--margin-h);
}

.volume-controls {
  width: auto;
  flex: 1 1 auto;
  max-width: 150px;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: flex-end;
  align-items: center;
  color: var(--black);
  transition: all 0.2s ease;
}

.volume-icons {
  position: relative;
  width: 25px;
  height: 25px;
}

.volume-icons div {
  position: absolute;
  top: 0;
  left: 0;
}

.volume-controls input {
  width: 100%;
}

.volume-controls:hover {
  color: var(--highlight-blue);
}

.volume-controls .button {
}

.audio-bar .rc-slider .rc-slider-rail,
.audio-bar .rc-slider-track {
  background: transparent;
}

@media (--small-screen) {
  .volume-controls {
    max-width: none;
  }

  .audio-player {
    flex-flow: row wrap;
  }

  .audio-bar {
    margin-right: 0;
    width: 80%;
  }
}
