.page {
  min-height: 100%;
  margin: 0;
}

.page.-padding {
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
}

@media (--small-screen) {
  .page {
    /* padding-top: 50px; */
  }
}
