.post-navigation-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding-right: var(--margin-02);
  background: transparent;
  transition: background 0.2s ease;
}

.post-navigation-item:not(:first-child) {
  margin-top: var(--margin-02);
}

.post-navigation-img {
  flex: 0 0 auto;
  display: block;
  width: 30%;
  height: 130px;
  overflow: hidden;
  background: black;
  margin-right: var(--margin-02);
  position: relative;
}

.post-navigation-img img {
  filter: grayscale(100%);
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.2s ease;
}

.post-navigation-item:hover {
  background: var(--highlight-soft);
}

.post-navigation-item:hover .post-navigation-img img {
  filter: grayscale(0);
}

.post-navigation-info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.post-navigation-title {
  position: relative;
  margin: 0;
}

.post-navigation-item .arrow {
  display: block;
  width: 60px;
  height: auto;
  flex: 0 0 auto;
  margin-right: var(--margin-04);
}

@media (--small-screen) {
  .post-navigation-item {
    flex-flow: column;
    padding-right: 0;
    align-items: start;
  }

  .post-navigation-img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .post-navigation-img img {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .post-navigation-info {
    padding-top: var(--margin-02);
    padding-bottom: var(--margin-02);
    align-items: center;
    width: 100%;
  }
}
