.episode-row {
  width: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}

.episode-row:not(:last-child) {
  margin-bottom: var(--margin-06);
}

.episode-row.-active {
  padding: 0;
  background: var(--white);
  border: 2px solid var(--gray-02);
}

.episode-row.-expand {
  width: calc(100% + var(--margin-04));
  margin: 0 0 var(--margin-04) calc(-1 * var(--margin-02));
}

.episode-row-flag {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.episode-cover {
  width: 30%;
  flex: 0 0 auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-right: var(--margin-02);
}

.episode-cover img {
  min-height: 125px;
  background: var(--gray-02);
  aspect-ratio: 1/1;
}

.episode-header {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--gray-06);
  transition: color 0.2s ease;
}

.episode-header:hover {
  color: var(--highlight-blue);
}

.episode-attributes {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--margin-02);
}

.episode-notes {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.episode-notes svg {
  width: 15px;
  height: 15px;
  margin-right: var(--margin-h);
}

.episode-title {
  font-variant-numeric: tabular-nums;
  margin: 0;
  margin-right: var(--margin-04);
}

.episode-meta {
  flex: 1 0 auto;
  text-align: right;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.episode-date {
  margin-bottom: var(--margin-01);
}

.episode-info {
  width: auto;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.episode-row.-active .episode-info {
  padding: var(--margin-02);
  padding-left: 0;
}

.episode-row .episode-description {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.-active .episode-description {
  height: auto;
  position: relative;
  padding: var(--margin-02);

  /* border-top: 4px solid var(--gray-06); */
}

.gradient-ddp {
  width: 100%;
  display: block;
  background-image: var(--gradient-ddp);
  height: 3px;
}

.episode-data {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  color: var(--gray-03);
  font-size: 0.9em;
  margin-top: var(--margin-01);
  margin-bottom: var(--margin-01);
  font-variant-numeric: tabular-nums;
}

.episode-data span:not(:last-child) {
  border-right: 2px solid var(--gray-02);
  padding-right: var(--margin-01);
  margin-right: var(--margin-01);
}

.episode-row .podcast-links {
  width: 100%;
}

.episode-info .podcast-links .listen-on {
  width: auto;
  flex: 1 1 auto;
  font-size: 0.8em;
}

.episode-info .podcast-links .listen-on:first-child {
  margin-right: var(--margin-01);
}

.episode-info .podcast-links .listen-on a {
  padding: 4px;
}

.episode-info .podcast-links .listen-on .google {
  padding: 0;
  padding-right: 4px;
}

.episode-summary {
  margin-top: auto;
}

@media (--small-screen) {
  .episode-row-flag {
    flex-flow: column;
  }

  .episode-date {
    margin-bottom: var(--margin-01);
  }

  .episode-info {
    width: auto;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .episode-attributes {
    flex-flow: column-reverse;
    margin-bottom: var(--margin-01);
  }

  .episode-row.-active .episode-info {
    padding: var(--margin-02);
    padding-left: 0;
  }

  .episode-row .episode-description {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
  }

  .-active .episode-description {
    height: auto;
    position: relative;
    padding: var(--margin-02);

    /* border-top: 4px solid var(--gray-06); */
  }

  .gradient-ddp {
    width: 100%;
    display: block;
    background-image: var(--gradient-ddp);
    height: 3px;
  }

  .episode-data {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    color: var(--gray-03);
    font-size: 0.9em;
    margin-top: auto;
    margin-bottom: var(--margin-01);
    font-variant-numeric: tabular-nums;
  }

  .episode-data span {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .episode-data span:not(:last-child) {
    border-right: 2px solid var(--gray-02);
    padding-right: var(--margin-01);
  }

  .episode-row .podcast-links {
    width: 100%;
  }

  .episode-info .podcast-links .listen-on {
    width: auto;
    flex: 1 1 auto;
    font-size: 0.8em;
  }

  .episode-info .podcast-links .listen-on:first-child {
    margin-right: var(--margin-01);
  }

  .episode-info .podcast-links .listen-on a {
    padding: 4px;
  }

  .episode-info .podcast-links .listen-on .google {
    padding: 0;
    padding-right: 4px;
  }

  .episode-header h2 {
    font-size: 1.2em;
    margin: 0;
  }

  .episode-row .episode-cover,
  .episode-row.-active .episode-cover {
    width: 100%;
  }

  .episode-row .episode-info,
  .episode-row.-active .episode-info {
    width: 100%;
    padding: var(--margin-02);
  }

  .episode-row.-expand {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin-06);
  }
}
