.listen-on {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.listen-on a {
  text-decoration: none;
  color: var(--gray-03);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease, transform 0.2s ease;
}

.listen-on.-dark a {
  color: var(--white);
}

.listen-on svg {
  width: var(--icon-size);
  height: auto;
  display: block;
  margin-right: var(--margin-h);
}

.listen-on a svg {
  color: var(--gray-02);
  margin-right: var(--margin-h);
  transition: color 0.2s ease, transform 0.2s ease;
  text-shadow: none; /* font-size: 0.9em; */
}

.listen-on li:not(:last-child) {
  margin-right: var(--margin-01);
}

.listen-on a,
.episode-info .episode-links a,
.podcast-links a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.listen-on a:hover {
  color: var(--gray-06);
  text-shadow: none;
}

.listen-on.-dark a:hover {
  color: var(--highlight);
}

.google:not(:hover) .google-podcast-circles * {
  fill: #ccc;
}

svg.google-podcast-icon {
  margin-right: var(--margin-h);
  display: inline-block;
  width: auto;
}

.listen-on a:hover svg {
  color: var(--gray-06);
}

.listen-on.-dark a:hover svg {
  color: var(--highlight);
}

a.rss:hover svg {
  color: var(--highlight-pink);
}

a.itunes:hover svg {
  color: var(--highlight-blue);
}

a.spotify:hover svg {
  color: var(--spotify);
}

@media (--small-screen) {
  .podcast-links a.google {
    padding: 2px;
  }
}
