.min-list {
  font-variant-numeric: tabular-nums;
  padding-bottom: calc(var(--header-height) + var(--margin-02));
  font-size: 0.8em;
  flex: column;
  position: sticky;
  top: 100px;
  min-width: 160px;
  margin-right: var(--margin-02);
  display: flex;
  flex-flow: column;
}

.min-list li {
  list-style: none;
}

.min-list a {
  width: 35px;
  height: 35px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--gray-03);
  border: 2px solid var(--gray-02);
  border-radius: 50%;
  white-space: nowrap;
  cursor: pointer;
  background: var(--white);
  transition: 0.2s ease width, 0.2s ease color, 0.2s ease border;
  transition: 0.2 ease all;
}

.min-list .item-name {
  display: none;
}

.min-list a:hover {
  color: var(--main-color-06);
  border-color: var(--main-color-06);
  border-radius: 10px;
  width: auto;
  justify-content: flex-start;
  padding-left: var(--margin-01);
}

.min-list a:hover > .item-name {
  display: inline;
  margin-left: var(--margin-h);
}

.min-list li:not(:last-child) {
  margin-bottom: var(--margin-h);
}

.min-list .go-to-top {
  margin-top: auto;
}

.min-list .go-to-top svg {
  width: 18px;
  height: 18px;
}
