#footer {
  background: var(--gray-06);
  color: var(--white);
  min-height: 30vh;
  width: 100%;
  bottom: 0;
  z-index: 100;
  border-top: 1px solid var(--gray-02);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

#footer .wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin-04) 0;
}

#footer article {
  flex: 1 0 auto;
}

#footer article:first-child {
  text-align: left;
}

#footer article:last-child {
  text-align: right;
}

#footer .social {
  justify-content: flex-end;
}

#footer .social li:not(:last-child),
#footer .listen-on li:not(:last-child) {
  margin-right: var(--margin-02);
}

#footer article h2 {
  margin-top: 0;
}

#footer .listen-on {
  justify-content: flex-start;
}

@media (--small-screen) {
  #footer .wrapper {
    flex-flow: column;
    padding: var(--margin-04);
  }

  #footer article {
    width: 100%;
  }

  #footer article:first-child {
    margin-bottom: var(--margin-04);
  }

  #footer article:last-child {
    text-align: left;
  }

  #footer .social {
    justify-content: flex-start;
  }
}
