.social {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.social a {
  text-decoration: none;
  color: var(--gray-03);
  font-size: 1.2em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.social.-dark a {
  color: var(--white);
}

.social svg {
  width: var(--icon-size);
  height: auto;
  display: block;
}

.social.-show-text svg {
  margin-right: var(--margin-h);
}

.social .ellugar svg {
  height: calc(var(--icon-size));
  width: auto;
}

.social .twitter:hover,
.social.-dark .twitter:hover {
  color: var(--twitter);
}

.social .facebook:hover,
.social.-dark .facebook:hover {
  color: var(--facebook);
}

.social .instagram:hover,
.social.-dark .instagram:hover {
  color: var(--black);
  background: var(--instagram);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social a i {
  margin: 0;
}

.social li:not(:last-child) {
  margin-right: var(--margin-h);
}

.social a:hover {
  color: var(--gray-06);
  opacity: 1;
}

.social.-dark a:hover {
  color: var(--gray-02);
  opacity: 1;
}

@media screen and (max-width: 30em) {
  .social li:not(:last-child) {
    margin-right: 2px;
  }
}
