.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--margin-02);
}

.blog-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-04);
}

.blog-info h1 {
  font-size: 5em;
  margin: 0;
  margin-right: 0;
  margin-right: var(--margin-04);
}

.blog-info p {
  font-size: 1.2em;
  margin: 0;
}

@media (--small-screen) {
  .blog-info {
    flex-flow: column;
    align-items: flex-start;
  }
  .blog-info h1 {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin-04);
  }

  .blog-info p {
    font-size: 1em;
    margin: 0;
  }
}
