.home.page {
  padding-bottom: var(--margin-04);
}

.home.page > .wrapper {
  display: flex;
  flex-flow: column;
}

.home.page .highlight-item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
  transition: all 0.2s ease;
}

.home.page .hero-wrapper {
  width: 100%;
  background-color: var(--gray-06);
  margin-bottom: var(--margin-04);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.home.page .hero-wrapper .rich-text {
  padding: var(--margin-02);
  text-align: center;
  max-width: 400px;
  width: max-content;
  margin: 0;
}

.home.page .hero-wrapper .rich-text a.podcast {
  color: var(--highlight-blue);
}

.home.page .hero-wrapper .rich-text a.blog {
  color: var(--highlight-pink);
}

.home.page .hero-wrapper img {
  margin: 0;
  max-width: 400px;
}

.home.page .highlight-item-wrapper:not(:last-child) {
  margin-bottom: var(--margin-04);
}

.home.page .highlight-item-wrapper h1 {
  margin: 0;
  font-size: 3em;
}

.highlight-item-link {
  padding-bottom: var(--margin-02);
  transition: all 0.2s ease;
  flex: 1 0 auto;
  display: flex;
}

.home.page .highlight-item-category {
  width: 100%;
  color: black;
  transition: all 0.2s ease;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-04);
}

.highlight-item-category-container {
  margin-right: var(--margin-04);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.highlight-item-category span {
  padding-bottom: var(--margin-h);
  border-bottom: 2px solid currentcolor;
}

.home.page .highlight-item-category svg {
  width: 40px;
  height: 40px;
  margin-right: var(--margin-04);
}

.home.page .-post .highlight-item-category:hover {
  color: var(--highlight-pink);
}

.home.page .-episode .highlight-item-category:hover {
  color: var(--highlight-blue);
}

.home.page .highlight-item {
  color: var(--black);
  height: 100%;
}

@media (--small-screen) {
  .home.page > .wrapper {
    grid-template-columns: 1fr;
  }

  .home.page .hero-wrapper {
    flex-flow: column;
  }
  .home.page .hero-wrapper .rich-text {
    width: 100%;
    max-width: none;
  }
}
