.podcast.page > .wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.episode-list {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

@media (--small-screen) {
  .episode-list {
    width: 100%;
  }
}
