.podcast-about {
  margin-bottom: var(--margin-04);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.podcast-about .description {
  color: var(--gray-06);
  display: block;
  flex: 1 0 50%;
  margin-left: var(--margin-04);
}

.podcast-about .description p:first-child {
  margin-top: 0;
}

.podcast-about .description p:last-child {
  margin-bottom: 0;
}

.podcast-about .description h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}

.podcast-about .description a {
  color: var(--black);
}

@media (--small-screen) {
  .podcast-about {
    flex-flow: column;
    margin: 0 auto var(--margin-04) auto;
  }

  .podcast-about img {
    width: 100%;
  }

  .podcast-about .description {
    width: 100%;
    flex: 0 0 auto;
    padding: 0;
    margin-left: 0;
    margin-top: var(--margin-04);
  }
}
