.post-single {
  padding-bottom: var(--margin-04);
}
.post-single > .wrapper {
  margin: auto;
}

.post-single .post-cover {
  display: flex;
  flex-flow: column;
  min-height: 50vh;
}

.post-single .post-image-wrapper {
  width: 100%;
  height: 100%;
  max-height: 500px;
  flex: 1 1 50%;
}

.post-single .post-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-single h1 {
  font-family: var(--font-serif);
  font-size: 3em;
  line-height: 1.2em;
  margin: 0;
  padding-bottom: var(--margin-02);
  border-bottom: 2px solid var(--white);
  margin-bottom: var(--margin-02);
}

.post-single .post-info {
  background: var(--gray-06);
  color: var(--white);
  padding: var(--margin-06);
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
}

.post-single .rich-text {
  margin: auto;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-top: var(--margin-04);
}

.post-discuss {
  display: inline-flex;
  width: auto;
  flex-flow: row;
  align-items: center;
  border: 1px solid var(--gray-03);
  border-radius: 100px;
  margin: auto;
  padding: var(--margin-h);
  padding-right: var(--margin-01);
  padding-left: var(--margin-01);
  color: var(--gray-03);
  transition: 0.2s ease all;
}

.post-discuss:hover {
  color: var(--twitter);
  border-color: var(--twitter);
}

.post-discuss .twitter {
  width: 20px;
  margin-right: var(--margin-h);
  color: var(--twitter);
}

.post-navigation {
  margin-top: var(--margin-04);
}

.post-extras {
  max-width: var(--max-width-text-column);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-04);
  margin-bottom: var(--margin-04);
}

@media (--big-screen) {
  .post-single .post-cover {
    display: flex;
    flex-flow: row;
    height: 60vh;
  }

  .post-single .post-image-wrapper {
    max-height: none;
  }
}

@media (--small-screen) {
  .post-single h1 {
    font-size: 2em;
  }

  .post-single .post-info {
    padding: var(--margin-04) 0;
  }

  .post-single .rich-text {
    font-size: 1em;
  }

  .post-discuss {
    width: 100%;
    color: var(--twitter);
    border-color: var(--twitter);
    justify-content: center;
  }
}
