:root {
  --black: #000;
  --white: #fff;
  --gray-01: whitesmoke;
  --gray-02: #e8e8e8;
  --gray-03: #a8a8a8;
  --gray-06: #1d1d1d;

  --highlight-yellow: #fff200;
  --highlight-pink: #ff3168;
  --highlight-blue: #00a5ff;

  --highlight: var(--highlight-yellow);
  --highlight-soft: rgba(245, 255, 0, 0.5);

  --twitter: #059ff6;
  --facebook: #39579b;
  --instagram: #fd8400;
  --spotify: #17d85f;
  --card-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.14);
}
