.generic-info-page > .wrapper {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.generic-info-page .logo {
  width: 35%;
  min-height: 200px;
  background: var(--gray-02);
  max-width: var(--max-width);
  margin-bottom: var(--margin-02);
}

.generic-info-page .rich-text > :first-child {
  margin-top: 0;
}

.generic-info-page .podcast-info {
  width: 100%;
  border-bottom: 2px solid var(--gray-02);
  padding-bottom: var(--margin-02);
  margin-bottom: var(--margin-02);
}

.generic-info-page .listen-on {
  width: auto;
  flex: 1 0 auto;
}

.generic-info-page .podcast-links {
  margin-bottom: 0;
}

.generic-info-page .podcast-links .social {
  margin-right: var(--margin-01);
}

@media (--small-screen) {
  .generic-info-page .logo {
    width: 100%;
    margin-bottom: var(--margin-01);
    border: none;
  }

  .generic-info-page .podcast-links .social {
    margin-bottom: var(--margin-h);
  }

  .generic-info-page .rich-text {
    font-size: 1em;
    padding: var(--margin-01) var(--margin-h) var(--margin-01) var(--margin-h);
  }
}
