body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background: var(--white);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

img {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  color: black;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: var(--wrapper-width);
  max-width: var(--max-width);
  margin: auto;
  padding-right: var(--margin-04);
  padding-left: var(--margin-04);
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.gradient-wrapper {
  width: 100%;
  background: var(--gray-06);
}

.gradient-ddp {
  width: 100%;
  display: block;
  background-image: var(--gradient-ddp);
  height: 3px;
}

.gradient-ddp.-small {
  background-image: var(--gradient-ddp-small);
}

@media (--small-screen) {
  .-hide-mobile {
    display: none !important;
  }

  .wrapper {
    /* width: 100%; */
  }
}

@media (--not-small-screen) {
  .-hide-desktop {
    display: none !important;
  }
}
