.podcast-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: var(--margin-02);
}

.podcast-links li {
  flex: 1 0 auto;
}

.podcast-links li:not(:last-child) {
  margin-right: var(--margin-h);
}

.podcast-links a {
  width: 100%;
  font-size: 1em;
  padding: var(--margin-h);
  border: 2px solid var(--gray-01);
  border-radius: 100px;
  color: var(--gray-06);
}

.podcast-links a:not(:last-child) {
  margin-right: var(--margin-h);
}

@media (--medium-screen) {
  .podcast-links a {
    font-size: 0.8em;
  }
}

@media (--small-screen) {
  .podcast-links ul {
    width: 100%;
    flex-flow: row wrap;
  }

  .podcast-links li {
    width: 100%;
  }

  .podcast-links li:not(:last-child) {
    margin-right: 0;
    margin-bottom: var(--margin-h);
  }

  .podcast-links a {
    padding: 5px;
    font-size: 1em;
  }
}
