@custom-media --small-screen (max-width: 670px);
@custom-media --medium-screen (max-width: 1000px);
@custom-media --big-screen (min-width: 1200px);
@custom-media --not-small-screen (min-width: 670px);
